@model List<Order>

@{
    ViewData["Title"] = "Замовлення";
}

<div class="row">
    <div class="col-md-12 bg-light rounded-1">
        <p>
            <h4>Список замовлень</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Товари</th>
                    <th>Всього</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Користувач</th>
                        <th>Phone</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Post</th>
                    }
                    <th>Відмінити</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Product.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle"> @order.User.Email </td>
                        <td class="align-middle"> @order.Phone </td>
                        <td class="align-middle"> @order.Name @order.LastName </td>
                            <td class="align-middle"> @order.Location </td>
                            <td class="align-middle"> @order.PostOffice </td>
                    }
                    <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                                Відмінити
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Відміна замовлення</h5>
                                        </div>
                                        <div class="modal-body">
                                            Ви справді хочете відмінити замовлення?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                                            <form asp-action="CancelOrder" asp-controller="Order" asp-route-id="@order.Id">
                                                <input class="btn btn-danger" type="submit" value="Відмінити" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>